.success_adm_alter_input {
    width: 198px;
    height: 60px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 60px;
    color: #333;
    font-family: 宋体, sans-serif;
    font-size: 20px;
}

.success_adm_alter_div {
    width: 197px;
    height: 60px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 60px;
    color: #333;
    font-family: 宋体, sans-serif;
    font-size: 20px;
}

.success_adm_alter_sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(5px);
}

.success_adm_alter_body{
    background-image: url("../img/index-background.jpeg");
}